CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/libbsg.a
/libclp.a
/libclp_kdtree.a
/CLP2017
/CLP_MOP
/libbsg_mop.a
/libscp.a
